doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title NYC Critical Housing Research
    meta(name='description' content='Research on housing in New York City')
  body
    h1 NYC-CHR
