doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title NYC Critical Housing Research
    meta(name='description' content='Research on housing in New York City')
    link(rel='stylesheet' href='lib/css/normalize.min.css')
    link(rel='stylesheet' href='lib/css/skeleton.plus.css')
  body
    nav.container
      a.brand NYCCHR
      ul
        li
          a about
        li
          a hpd
        li
          a dobjobs
        li
          a wiki
        li
          a research
